#wizzard {
  position: absolute;
  top: 450px;
  left: 4700px;
  width: 250px;
}

.cat-npc {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 600px;
  left: 1300px;
}

#cat {
  width: 80px;
}

#my {
  position: absolute;
  top: 600px;
  left: 2500px;
  width: 200px;
}

#cat-github {
  width: 48px;
  height: 48px;
  cursor: pointer;
  animation: rotate 0.1s ease infinite;
  animation-duration: 3s;
}

#githubspan {
  color: white;
  font-weight: bold;
  font-family: fantasy;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
