.npc1 {
  position: absolute;
  left: 900px;
  top: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.npc1 #npc1 {
  width: 80px;
  height: 80px;
}

#cat {
  position: absolute;
  top: 700px;
  left: 800px;
  width: 80px;
  height: 80px;
}

#my {
  position: absolute;
  top: 480px;
  left: 2400px;
  width: 200px;
  height: 200px;
}
