.background {
  width: 14000px;
  height: 100vh;
  background-image: url("../../images/background.png");
  overflow-x: scroll;
}

@font-face {
  font-family: "GGothic60";
  src: url("../../font/HGGGOTHICSSI_60G.TTF");
}
#jins-world-head {
  font-size: 90px;
  position: absolute;
  top: 150px;
  left: 550px;
  z-index: 3;
}

#guide-text {
  width: 200px;
}

.tutorial {
  scale: 0;
  position: absolute;
  top: 70px;
  left: 500px;
  width: 500px;
  height: 500px;
  background: url("../../images/contact.png");
  background-size: 100% 100%;
  transition: scale 0.5s ease;
  z-index: 4;
}

.tutorial img {
  position: absolute;
  top: -5px;
  left: 420px;
  width: 80px;
  cursor: pointer;
}

.tutorial-text {
  width: 70%;
  position: absolute;
  top: 100px;
  left: 80px;
  font-size: 19px;
  font-family: "GGothic60";
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.tutorial-text span {
  margin: 3px;
}
.guidebook {
  position: absolute;
  top: 600px;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.guidebook img {
  width: 60px;
  cursor: pointer;
}

.guidebook span {
  color: red;
  font-size: 32px;
  font-weight: bold;
  font-family: fantasy;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

#tutorial-rightarrow {
  position: absolute;
  top: 36px;
  left: 115px;
  width: 32px;
}

#tutorial-leftarrow {
  position: absolute;
  top: 36px;
  left: 90px;
  width: 32px;
}

#tutorial-uparrow {
  position: absolute;
  top: 75px;
  left: 120px;
  width: 48px;
}
#zkey {
  position: absolute;
  top: 105px;
  left: 200px;
  width: 24px;
}
